img {
  max-height: 80px;
  padding-top: 3px;
}
body {
  font-family: monospace;
}
span.x {
  color: red;
  cursor: pointer;
}
div.diffs {
  margin-top: 10px;
  columns: 3;
}
div.diff {
  break-inside: avoid;
}
